@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,900&display=swap');
/* For Mobile */
@media screen and (max-width: 540px) {
    .footer-item {
        margin: 20% 0;
    }
    .main {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .main img {
        width: 500px;
      }
}
/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .main img {
        width: 500px;
      }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    background-color: rgb(237, 237, 237);
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
    padding-top: 50px;
    background: linear-gradient(to right, rgba(247, 247, 247, 0.7), rgba(247, 247, 247, 0.7));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-item {
    margin: 20% 0;
}

.main-header {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 100px;
    background: linear-gradient(to right, rgba(247, 247, 247, 0.7), rgba(247, 247, 247, 0.7));
}
.main-header-text {
    margin-top: -22px;
    padding-bottom: 20px;
}

.header {
    height: 10vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid rgb(224, 224, 224);
    z-index: 99;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}
.nav-item {
    padding-left: 10px;
    text-decoration: none;
    color: black;
}
.nav-item:hover {
    color: grey;
}
#nav-active {
    font-weight: 500;
}
#nav-active:hover {
    color: black;
}
.logo-link {
    text-decoration: none;
    color: black;
}
.hero-img {
    border-radius: 60%;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    height: 100vh;
    flex-wrap: wrap;
}