@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,900&display=swap');
/* HEADER */

.header {
    height: 10vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid rgb(224, 224, 224);
    z-index: 99;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.nav-item {
    padding-left: 5px;
    text-decoration: none;
    color: black;
}
.nav-item:hover {
    color: #82bee1;
}
#nav-active {
    font-weight: 500;
    color: #82bee1;
}
#nav-active:hover {
    color: #82bee1;
}
.logo-link {
    text-decoration: none;
    color: #82bee1;
}
i:hover {
    color: #82bee1;
}
.projects-header {
    text-align: center;
}

/* END HEADER */


/* MAIN */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    background-color: #fff;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main {
    padding-top: 150px;
}
.about-me-header {
    color: #82bee1;
}
.hero-img {
    border-radius: 60%;
}
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.typewrite {
    text-decoration: none;
    font-size: 35px;
    color: #82bee1;
    font-weight: 900;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 150px;
}
.project-img {
    max-width: 600px;
}
#td {
    text-align: center; 
    height: 108px; 
    width: 108px;
}
.tech-text {
    text-align: center;
}
.tech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
table {
    padding-bottom: 100px;
}
.projects-tech {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 100px;
}
.projects-tech-2 {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.projects-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/* END MAIN */


/* FOOTER */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-item {
    margin: 25% 0;
}
.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0 {
    0%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 70.19168670559947,329.440742013054 140.38337341119893,358.8814840261079 208,333 C 275.61662658880107,307.1185159738921 340.65819306080385,225.91480590862247 406,203 C 471.34180693919615,180.08519409137753 536.9838543455858,215.45929233940228 608,241 C 679.0161456544142,266.5407076605977 755.4063895568532,282.2480247337685 822,312 C 888.5936104431468,341.7519752662315 945.390587427001,385.5486087255239 1013,398 C 1080.609412572999,410.4513912744761 1159.0312607351425,391.55754036413606 1232,370 C 1304.9687392648575,348.44245963586394 1372.4843696324288,324.221229817932 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    25%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 65.24562006183442,298.777052559258 130.49124012366883,297.55410511851596 209,308 C 287.50875987633117,318.44589488148404 379.28065956715903,340.56063208519413 437,352 C 494.71934043284097,363.43936791480587 518.3861216076949,364.20336654070763 582,354 C 645.6138783923051,343.79663345929237 749.1748540020612,322.6259017519753 822,323 C 894.8251459979388,323.3740982480247 936.9144623840602,345.29302645139126 995,343 C 1053.0855376159398,340.70697354860874 1127.167296461697,314.20199244245964 1204,303 C 1280.832703538303,291.79800755754036 1360.4163517691513,295.8990037787702 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    50%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 66.2439024390244,271.5492957746479 132.4878048780488,243.09859154929575 198,256 C 263.5121951219512,268.90140845070425 328.29268292682923,323.1549295774648 396,312 C 463.70731707317077,300.8450704225352 534.3414634146342,224.28169014084506 601,201 C 667.6585365853658,177.71830985915494 730.3414634146343,207.71830985915494 805,258 C 879.6585365853657,308.28169014084506 966.292682926829,378.84507042253523 1036,364 C 1105.707317073171,349.15492957746477 1158.487804878049,248.90140845070422 1223,224 C 1287.512195121951,199.09859154929578 1363.7560975609754,249.54929577464787 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    75%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 51.481277911370654,324.66437650291994 102.96255582274131,349.3287530058399 175,340 C 247.0374441772587,330.6712469941601 339.63105462040534,287.3493644795602 421,271 C 502.36894537959466,254.65063552043975 572.5132256956373,265.27378907591896 646,278 C 719.4867743043627,290.72621092408104 796.3160425970456,305.55547921676396 849,303 C 901.6839574029544,300.44452078323604 930.2226039161801,280.50429405702505 990,259 C 1049.77739608382,237.49570594297492 1140.7935417382344,214.4273445551357 1221,221 C 1301.2064582617656,227.5726554448643 1370.603229130883,263.78632772243213 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    100%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 70.19168670559947,329.440742013054 140.38337341119893,358.8814840261079 208,333 C 275.61662658880107,307.1185159738921 340.65819306080385,225.91480590862247 406,203 C 471.34180693919615,180.08519409137753 536.9838543455858,215.45929233940228 608,241 C 679.0161456544142,266.5407076605977 755.4063895568532,282.2480247337685 822,312 C 888.5936104431468,341.7519752662315 945.390587427001,385.5486087255239 1013,398 C 1080.609412572999,410.4513912744761 1159.0312607351425,391.55754036413606 1232,370 C 1304.9687392648575,348.44245963586394 1372.4843696324288,324.221229817932 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
}

/* END FOOTER */


/* RESPONSIVE */

/* For Mobile */
@media screen and (max-width: 540px) {
    .footer-item {
        margin: 20% 0;
    }
    .main {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .main img {
        width: 500px;
    }
        .nav ul {
        justify-content: center;
    }
}
/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .main img {
        width: 500px;
      }
     .nav ul {
        justify-content: center;
      }
      .header {
        flex-wrap: wrap;
      }
}

/* END RESPONSIVE*/